<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514770009692-1a248fs9g3pcu6dsp2pbu5s5fcv5re4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514770009692-1a248fs9g3pcu6dsp2pbu5s5fcv5re4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBfRvHTIp4-xyg5rC-HWpp0LenI_pVWTms</string>
	<key>GCM_SENDER_ID</key>
	<string>514770009692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.parasource.papaya.ios</string>
	<key>PROJECT_ID</key>
	<string>papaya-364915</string>
	<key>STORAGE_BUCKET</key>
	<string>papaya-364915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514770009692:ios:55acf51f05ec0e9c963099</string>
</dict>
</plist>